/* VARIABLE DEFINITIONS */
:root {
    --primary: #43425d;
    --secondary: #417690;
    --accent: #928f8f;
    --primary-fg: #ffffff;
  
    --body-fg: #333;
    --body-bg: #fafafa;
    --body-quiet-color: #666;
    --body-loud-color: #000;
  
    --header-color: rgb(230, 230, 230);
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);
  
    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);
  
    --link-fg: #447e9b;
    --link-hover-color: #036;
    --link-selected-fg: #5b80b2;
  
    --hairline-color: #e8e8e8;
    --border-color: #ccc;
  
    --error-fg: #ba2121;
  
    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;
  
    --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
    --selected-bg: #e4e4e4; /* E.g. selected table cells */
    --selected-row: #ffc;
  
    --button-fg: #fff;
    --button-bg: var(--primary);
    --button-hover-bg: #e5e5e5;
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #205067;
    --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
    --close-button-hover-bg: #747474;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
  
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --primary: #264b5d;
      --primary-fg: #eee;
  
      --body-fg: #eeeeee;
      --body-bg: #121212;
      --body-quiet-color: #e0e0e0;
      --body-loud-color: #ffffff;
  
      --breadcrumbs-link-fg: #e0e0e0;
      --breadcrumbs-bg: var(--primary);
  
      --link-fg: #81d4fa;
      --link-hover-color: #4ac1f7;
      --link-selected-fg: #6f94c6;
  
      --hairline-color: #272727;
      --border-color: #353535;
  
      --error-fg: #e35f5f;
      --message-success-bg: #006b1b;
      --message-warning-bg: #583305;
      --message-error-bg: #570808;
  
      --darkened-bg: #212121;
      --selected-bg: #1b1b1b;
      --selected-row: #00363a;
  
      --close-button-bg: #333333;
      --close-button-hover-bg: #666666;
    }
  }

/* LOGIN FORM */

.login, #branding,  #header {
    background: #43425d;
    height: auto;
}

.login #header {
    height: auto;
    padding: 0px 16px;
    justify-content: center;
    margin-top: -8%;
}

.login #header h1 {
    font-size: 18px;
}

.login #header h1 a {
    color: var(--header-link-color);
}

.login #content {
    padding: 20px 20px 0;
}

.login #container {
    background: var(--body-bg);
    border-radius: 6px;
    width: 35em;
    min-width: 300px;
    margin: 17% auto;
    height: auto;
}

.login .form-row {
    padding: 4px 0;
}

.login .form-row label {
    display: block;
    line-height: 2em;
}

.login .form-row #id_username, .login .form-row #id_password {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.login .submit-row {
    padding: 1em 0 0 0;
    margin: 0;
    text-align: center;
}

.login .password-reset-link {
    text-align: center;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #f5f5f5;
    padding: 10px 67px;
    border: none;
    border-radius: 4px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 5px;
    transition: background 0.1s;
}

.login #content-main {
    background: var(--body-bg);
    width: 66%;
    padding: 0%;
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 8px;
}

