$gray: #9B9B9B;
$bg-purple: #43425D;
$bg-maincont: #EEEBEF;
$bg-newsbg:#F9F9F9;
// $bg-newsbg:#F5F6FA;
$bg-white: #ffffff;
$orange: #ff7902;
$bordercard: #ebe7e7;
$footcolor: #f7f7f7;
$hover: #eeebef13;

